<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test parallel="methods" thread-count="5" name="C:/Users/goura/Downloads/Castle">
        <classes>
            <class name="com.castle.test.GetTests">
                <methods>
                    <include name="getEmployeeDetails" />
                    <include name="getEmployeeDetail" />
                </methods>
            </class>
            <class name="com.castle.test.PostTests">
                <methods>
                    <include name="postCallTest" />
                    <include name="postRequestUsingExternalFile" />
                </methods>
            </class>
        </classes>
    </test>
</suite>